<f:be.container>

    <div class="module-body" id="container-content">

        <h1>
            <f:translate key="BackendListTitle"/>
        </h1>

        <f:if condition="{algoliaException}">
            <f:then>
                <f:be.infobox title="Algolia Exception" state="2">{algoliaException}</f:be.infobox>
            </f:then>
            <f:else>
                <f:be.infobox title="Algolia Status" state="0">Algolia Connection is up and running.</f:be.infobox>
            </f:else>
        </f:if>

        <f:flashMessages />




        <f:if condition="{localIndexList}">
            <div class="panel panel-default">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Algolia Indexes from Typoscript config</th>
                        <th>Table</th>
                        <th>Action</th>
                    </tr>
                    <thead>
                    <tbody>

                    <f:for each="{localIndexList}" as="localIndex" key="tableName">

                        <tr>
                            <th>{localIndex.indexName}</th>
                            <th>{tableName}</th>
                            <th>
                                <f:link.action class="btn btn-danger" action="triggerReIndexing" arguments="{'indexName': localIndex.indexName, 'tableName': tableName}">Reindex</f:link.action>
                            </th>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:if>

        <f:if condition="{remoteIndexList}">
            <div class="panel panel-default">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>All Algolia Indexes on remote Server</th>
                        <th>Entries</th>
                        <th>Last Updated</th>
                    </tr>
                    <thead>
                    <tbody>

                    <f:for each="{remoteIndexList}" as="remoteIndex">

                        <tr>
                            <th>{remoteIndex.name}</th>
                            <th>{remoteIndex.entries}</th>
                            <th>{remoteIndex.updatedAt}</th>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:if>

    </div>
</f:be.container>